<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://ch.qos.logback/xml/ns/logback"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd"
        debug="false" scan="true" scanPeriod="30 second">

    <property name="log.dir" value="logs" />
    <property name="encoding" value="UTF-8" />
    <property name="plain" value="%msg%n" />
    <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
    <property name="std" value="%d{HH:mm:ss.SSS}[%thread][%-5level]%msg %n" />
    <property name="mdc" value="%d{HH:mm:ss.SSS}[%thread][%-5level]%msg ProcessDefinitionId=[%X{mdcProcessDefinitionID}]
    executionId=[%X{mdcExecutionId}] mdcProcessInstanceID=[%X{mdcProcessInstanceID}] mdcBusinessKey=[%X{mdcBusinessKey}] %logger{10}.%M:%L%n%n"/>
    <property name="normal" value="%d{HH:mm:ss.SSS}[%thread][%-5level]%msg %n" />

    <!-- 控制台打印 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${std}</pattern>
            <charset>${encoding}</charset>
        </encoder>
    </appender>

    <!-- Logger 根目录 -->
    <root level="INFO">
        <appender-ref ref="stdout" />
    </root>
    <logger name="pwd.allen.elastic" level="DEBUG" />
    <!-- 打印springmvc map信息，新版spring日志要调到trace才有这坨信息 -->
    <logger name="org.springframework.web.servlet.mvc" level="trace" />
</configuration>